  .form{
    text-align: center;
    
  }
  .formsignin {
    max-width: 330px;
    margin-top: 10%;
    display: inline-block;
  }
  
  .formsignin input[type="email"],.form-signin input[type="password"],.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    border: 1px solid #afafaf79;
    border-radius: 3px;
    margin-bottom: 8px;
  }

  .formsignin button{
    background-color: #61CE64;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  .formsignin a{
    color: #000000;
    font-size: 13px;
    font-weight:100;
  }
  .formsignin ::placeholder{
    color: #a3a3a3d8;
  }

input[type='radio']{
  margin-left: 20px;
  margin-right: 5px;
}